.taskContainer {
    max-width: 1100px;
    margin: 0 auto;
}

.tasks {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
}
  
.task {
    flex-basis: 28%;
    margin: 1em;
    padding: 1em;
    border: 3px solid lightgreen;
    border-radius: 10px;
}

.taskForm {
    max-width: 1100px;
    margin: 0 auto;
}