.messageListHeader {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: baseline;
}

.message--container {
    margin-top: 25px;
}

.message--poster {
    cursor: pointer;
}