.articlesContainer {
    max-width: 1100px;
    margin: 25px auto 0 auto;
}

.articlesHeader {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.article--container:last-child {
    margin-bottom: 0;
}

.articleFormContainer {
    max-width: 1100px;
    margin: 0 auto;
}

.friendArticle {
    background-color: lightgreen;
}