.navbar__container {
    background-color: #111;
}

.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 75px;
    padding: 0;
    margin: 0 auto 0 auto;
    max-width: 1100px;
}

.navbar a {
    color: white;
}

.navbar a:hover {
    color: lightgreen;
}

.navbar__logo {
    height: 40px;
}

.navbar__item {
    list-style-type: none;
}

.logout {
    background-color: lightgreen;
    padding: 8px;
    border-radius: 5px;
}

.logout:hover {
    box-shadow: 0 0 10px 2px lightgreen;
}

.logout a {
    color: #111;
}

.logout a:hover {
    color: #111;
}